{
  "backend/**/*.{ts,js}": [
    "npx --no-install --prefix backend eslint --config backend/eslint.config.mjs --fix",
    "npx --no-install --prefix backend prettier --write"
  ],
  "frontend/**/*.{ts,tsx,js,jsx}": [
    "npx --no-install --prefix frontend eslint --config frontend/eslint.config.js --fix",
    "npx --no-install --prefix frontend prettier --write"
  ]
}
